h1 {
  text-align: center;
}

.katex {
  font-size: 1rem;
}

.notes-container {
  margin: 0 110px 110px 110px;
  font-size: 0.9rem;
}

.notes-container * {
  font-family: "Courier New", Courier, monospace !important;
}

.notes-container h1 {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}

.notes-container h2 {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
}

.notes-container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}

.notes-container h4 {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

.notes-container blockquote {
  padding-left: 20px;
  position: relative;
}
.notes-container blockquote::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: black;
  left: 0;
  top: 0;
}

.notes-container ol li {
  margin-left: 35px;
  list-style-type: decimal;
}

.notes-container ul li {
  margin-left: 20px;
  list-style-type: circle;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 10px;
}

table {
  margin: 15px 0;
}

.notes-title {
  font-size: 2.5rem;
}

.notes-container > * {
  margin: 15px 0;
  padding: 5px;
}

.astro-code {
  padding: 30px;
}

.notes-container a {
  text-decoration: underline;
  color: rgb(98, 98, 215);
}

.content-wrapper-notes {
  display: grid;
  place-items: center;
  width: 100%;
  height: 90vh;
}

.note-files {
  display: flex;
  width: 80vw;
  height: 60vh;
  overflow-y: scroll;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 10px;
}
.note-files .content {
  padding: 30px;
}
.note-files .content .file-details {
  display: flex;
  align-items: center;
  line-height: 0;
  justify-content: space-between;
  word-wrap: break-word;
}
@media screen and (max-width: 900px) {
  .note-files .content .file-details {
    line-height: initial;
  }
}
.note-files .content .file-details a {
  color: #333;
  text-decoration: none;
}
.note-files .content .file-details a:hover {
  text-decoration: underline;
}
.note-files .content .file-details .file-size {
  color: rgb(42, 42, 42);
}
.note-files .content a {
  display: block;
}
.note-files .header {
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: #ecf0f1;
  height: 10%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.note-files .header p {
  margin-left: 20px;
}
.note-files .header .circles {
  position: absolute;
  display: flex;
  left: 10px;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-left: 15px;
}
.note-files .header .circles div {
  margin: 5px;
  width: 25px;
  height: 25px;
  border-radius: 70vw;
}
@media screen and (max-width: 900px) {
  .note-files .header .circles div {
    width: 15px;
    height: 15px;
    margin: 2px;
  }
}
.note-files .header .circles div:first-of-type {
  background-color: #e74c3c;
}
.note-files .header .circles div:nth-of-type(2) {
  background-color: #f1c40f;
}
.note-files .header .circles div:nth-of-type(3) {
  background-color: #2ecc71;
}

.note-files a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .notes-container {
    margin: 20px;
  }
}
.blog-list * {
  box-sizing: border-box;
  margin: 0;
}

.blog-list {
  max-width: 100ch;
}

.blog-link {
  color: black;
  text-decoration: none;
}

.blog__title {
  margin: 0;
  font-size: 0.9rem;
}

.ui-tag__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.blog__date {
  font-size: 0.8rem;
  color: #666;
}

.ui-tag {
  font-size: 0.8rem;
  color: #666;
  margin-right: 1px;
}

.divider {
  margin: 0 10px;
  color: #666;
}

.bottom {
  display: flex;
  align-items: center;
}

.blog-item {
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 0.5px solid #ddd;
}/*# sourceMappingURL=home.css.map */