---
// import BlogFeed from '../components/broken/BlogFeed.svelte'
import BlogFeed from '../components/BlogFeed.jsx'
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="RichardMe123 | Blog">
  <main class="content-wrapper">
    <div class="container blogs">
      <h1 class="ui-title-1" style="margin-top: 2.2rem;">View My Blog Posts</h1>
      <div class="blog-container">
        <BlogFeed client:load />
      </div>
    </div>
  </main>
</BaseLayout>