---
import Navbar from '../components/Navbar.astro';
import 'uimini/dist/uimini.css';
import Footer from '../components/Footer.astro';
//@ts-ignore
import BlogFeed from '../components/BlogFeed.tsx'
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <meta name="description" content="RichardMe123 personal site">
     <meta name="robots" content="index, nofollow">
     	<meta name="author" content="Richard C" />
    <link rel="canonical" href="https://merichard123.github.io/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
     <title>RichardMe123 | Blog</title>
    <link rel="stylesheet" href="/style/global.css"/>
   <link rel="stylesheet" href="/style/home.css"/>
   <style>
    h1{
      margin-top: 20px;
    }
  </style>
 </head>
  <header>
    <Navbar />
  </header>
 <body class="content-wrapper">

    <div class="container blogs">
      <h1 class="ui-title-1" style="margin-top: 2.2rem;">View My Blog Posts</h1>
      <div class="blog-container">
        <BlogFeed client:load />
      </div>
    </div>
    <Footer/>
  </body>
</html>
