---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="RichardMe123 | Contact">
  <main class="content-wrapper">
    <div class="container">
      <h1 class="ui-title-1" style="margin: 20px; font-size:2.7rem; ">Send me a message...</h1>
      <div class="form-container">
        <form action="https://formspree.io/xjvaorkb" method="POST">
          <label for="nameField">Name</label>
          <input
          id="nameField"
          type="text"
          placeholder="John Doe"
          name="name"
          />
          <label for="emailField">Email</label>
          <input
          id="emailField"
          type="email"
          placeholder="JohnDoe@email.com"
          name="_replyto"
          />
          
          <label for="commentField">Message</label>
          <textarea
          id="commentField"
          placeholder="Hi CJ …"
          name="message"
          class="textarea"
          ></textarea>
          <button type="submit" class="button button-default" aria-label="Send Email">
            Send...
          </button>
        </form>
      </div>
    </div>
  </main>
</BaseLayout>