---
import Navbar from '$components/Navbar.astro';
import Footer from '$components/Footer.astro';
import 'uimini/dist/css/uimini.css';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RichardMe123 | Contact</title>

     <meta name="description" content="RichardMe123 personal site">
     <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/style/home.css" />
    <link rel="stylesheet" href="/style/global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
 <style>
    h1{
      margin-top: 20px;
    }
   </style>
  </head>
  <header>
     <Navbar />
  </header>
  <body class="content-wrapper">
    <div class="container">
      <h1 class="ui-title-1">Send me a message...</h1>
      <div class="form-container">
        <form action="https://formspree.io/xjvaorkb" method="POST">
          <label for="nameField">Name</label>
          <input
            id="nameField"
            type="text"
            placeholder="John Doe"
            name="name"
          />
          <label for="emailField">Email</label>
          <input
            id="emailField"
            type="email"
            placeholder="JohnDoe@email.com"
            name="_replyto"
          />

          <label for="commentField">Message</label>
          <textarea
            id="commentField"
            placeholder="Hi CJ …"
            name="message"
          ></textarea>
          <button type="submit" class="button button-default" aria-label="Send Email">
            Send...
          </button>
        </form>
      </div>
    </div>
    <Footer />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
  </body>
</html>
