---
let title = 'RichardMe123';
import BaseLayout from '../layouts/BaseLayout.astro';

function getYear() {
  const today = new Date();
  const year = today.getFullYear();
  const month = today.getMonth();
  
  if (year == 2023 && month >= 6) {
    return "second";
  }
  else if (year == 2024 && month >= 6) {
    return "final";
  }
  else {
    return "NaN";
  }
}
---
<BaseLayout title={title}>
  <div class="content-wrapper">
    <main class="About-container">
        <div class="LandingImage">
          <img
            src="/assets/bookcaseillustration.webp"
            alt="Illustration of MeRichard123"
          />
        </div>
        <h1 class="ui-title-1">Who am I?</h1>
        <p class="ui-text-regular text">
          Hi, My name is Richard. I am an aspiring Research Student, currently aiming 
          to pursue a Master in Computer Science. You can see some of the things I have 
          done <a class="link" rel="noopener noreferrer" target="_blank" href="https://richardcoric.dev">here</a>. 
        </p>
        <h4>Background</h4>
        <p class="ui-text-regular text">
          I have been doing some sort of programming since my 1st year in
          Secondary school (6th grade - middle school); and ever since playing
          around with Adobe DreamWeaver at school I have been fascinated by Web
          Development. I then took my <a class="link" href="https://dev.to/merichard123/the-beginning-of-my-web-dev-journey-2jkh" rel="noopener noreferrer" target="_blank">first steps</a> in HTML in 2018. 
        </p>
        <h4>Current</h4>
        <p class="ui-text-regular text">
          I am currently in my {getYear()} year at the University of Lincoln 
          studying a BCs in Computer Science. I am currently working on my dissertation project
          which involves 'emulating a Lua compiler using different forms of RNNs'.

          <br />

          I am interested in NLP and Machine Learning, along with compiler development.
          I am aiming to build a mix of different tools <a class="link" href="https://richtools.github.io/" rel="noopener noreferrer" target="_blank">from scratch</a>, to get a feel for 
          how they works. In the past I have dabbed in web development and would like to get 
          more into computer vision, since I found Image Processing to be an interesting 
          module at University.
        </p>
        <h4>Other</h4>
        <p class="ui-text-regular text">
          Other than coding I read many books in my free time, as well as tend
          to my tortoise 'Fred'. I enjoy linguistics, I am also studying Korean, German
          and French, because languages have always intrigued me.
        </p>
        <a
          href="https://richardcoric.dev/"
          title="Portfolio"
          rel="noreferrer noopener"
          target="_blank"
          class="ui-button isDefault"
          style="margin: 20px 0; padding: 1.2rem 1.5rem; border: 1px solid #e9ebef; border-radius: 10px;"
          >See My Work</a
        >
      </main>
  </div>  
</BaseLayout>
