---
let title = 'RichardMe123';
import BaseLayout from '../layouts/BaseLayout.astro';

function getYear() {
  const today = new Date();
  const year = today.getFullYear();
  const month = today.getMonth();
  
  if (year == 2023 && month >= 6) {
    return "second";
  }
  else if (year == 2025 && month >= 6) {
    return "third";
  }
  else {
    return "NaN";
  }
}
---
<BaseLayout title={title}>
  <div class="content-wrapper">
    <main class="About-container">
        <div class="LandingImage">
          <img
            src="/assets/bookcaseillustration.webp"
            alt="Illustration of MeRichard123"
          />
        </div>
        <h1 class="ui-title-1">Who am I?</h1>
        <p class="ui-text-regular text">
          Hi, My name is Richard. I am an aspiring Software Engineer in the UK. I am
          currently aiming towards becoming a well versed software developer, by building
          things and exploring differnt technology. 
        </p>
        <p class="ui-text-regular text">
          I have been doing some sort of programming since my 1st year in
          Secondary school (6th grade - middle school); and ever since playing
          around with Adobe DreamWeaver at school I have been fascinated by Web
          Development. I then took my first steps in HTML in 2018. (More on this
          in my blog).
        </p>
        <p class="ui-text-regular text">
          I am currently in my {getYear()} year at the University of Lincoln 
          studying a BCs in Computer Science. I am intrested in a mix of software,
          at the moment I am doing a lot of exploration on different topics in CS
          alongside my studies. I am interested in compiler development, and building 
          things from scratch. I aim  to build everything from 0 at least once. 
          I still dabble in Web Development, sometimes that is fun too.  
        </p>
        <p class="ui-text-regular text">
          Other than coding I read many books in my free time, as well as tend
          to my tortoise 'Fred'. I enjoy linguistics, I am also studying Korean, German
          and French in my free time, because languages have always intrigued me.
        </p>
        <a
          href="https://richardcoric.dev/"
          title="Portfolio"
          rel="noreferrer noopener"
          target="_blank"
          class="ui-button isDefault"
          style="margin: 20px 0; padding: 1.2rem 1.5rem; border: 1px solid #e9ebef; border-radius: 10px;"
          >See My Work</a
        >
      </main>
  </div>  
</BaseLayout>
