---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import avatar from "../assets/photo.jpg";
import A from "../components/A.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout title="RichardMe123">
	<div class="box">
		<div class="left">
			<h1>Richard Coric</h1>
			<p>
				Hi, My name is Richard. I am an aspiring Research Student, with
				a goal to pursue a Masters in Computer Science. You can see some
				of the things I have done <A link="https://richardcoric.dev"
					>here</A
				>.
			</p>
			<p>
				I am currently in my final undergraduate year at the University
				of Lincoln, studying a BSc in Computer Science. At the moment I
				am working on my dissertation and looking for spare time to work
				on some side projects.
			</p>
			<div class="links">
				<a href="/notes">notes</a> /
				<a href="/writing">writing</a> /
				<A link="https://x.com/Richard5977">twitter</A> /
				<A link="https://github.com/MeRichard123">github</A> /
				<A link="https://www.linkedin.com/in/richardcoric/">linkedin</A> /
				<a href="/cv">CV</a> 
			</div>
		</div>
		<div class="right">
			<div class="rounded">
				<Image src={avatar} alt="Me" />
			</div>
		</div>
	</div>
	<div class="information">
		<h2>research</h2>
		<ul>
			<li>
				"Emulating Lua Execution through different Recurrent Neural
				Networks Architectures: A Comparative Study in Example-Based
				Learning" - 2024/25 (Bsc)
			</li>
		</ul>
		<h2>bio</h2>
		<h3>interests</h3>

		<p>
			I am passionate about Natural Language Processing (NLP), Machine
			Learning, and compiler development, with a strong interest in
			building tools <A link="https://richtools.github.io">from scratch</A
			> to better understand how everyday software is created. I also enjoy
			exploring the low-level workings of computing, such as operating systems,
			and the intersection of AI and linguistics, particularly how AI can enhance
			language learning and understanding.
		</p>
		<p>
			During my studies, I developed a keen interest in computer vision,
			particularly Vision-Language Models (VLMs), and found Image
			Processing to be a fascinating area that I am eager to explore
			further. My past experience includes web development with various
			technologies, which has given me a strong foundation for tackling
			diverse computational challenges.
		</p>

		<h3>background</h3>
		<p>
			I have been doing some sort of programming since my 1st year in
			Secondary school (6th grade - middle school); and ever since playing
			around with Adobe DreamWeaver at school I have been fascinated by
			Web Development. I then took my <A
				link="https://dev.to/merichard123/the-beginning-of-my-web-dev-journey-2jkh"
				>first steps</A
			> in HTML in 2018.
		</p>

		<p>
			I have since been working on my undergraduate degree in Computer
			Science, where I have been able to explore a wide range of topics,
			from AI to operating systems. I have also been able to work on a
			variety of <A link="https://richardcoric.dev">projects</A>, which
			have helped me to develop my skills and knowledge in different areas
			of computing.
		</p>

		<p>
			In the Summer of 2023, I was able to be an AI Intern at <A
				link="https://pythialegal.com/">Legal-Pythia</A
			> where I worked on a variety of Machine Learning Solutions and a range
			of software, which helped me to develop my skills in AI and software
			development.
		</p>

		<h3>other</h3>
		Other than coding I read many books in my free time, as well as tend to my
		tortoise 'Fred'. I enjoy linguistics, I am also studying Korean, German and
		French, because languages have always intrigued me.
	</div>
</BaseLayout>

<style>
	.box {
		display: grid;
		grid-template-columns: 3fr 2fr;
	}
	.left {
		grid-column: 1/2;
	}

	@media screen and (max-width: 768px) {
		.box {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
		}
	}

	.left h1 {
		text-align: center;
		margin-bottom: 2rem;
	}
	.links {
		margin-top: 1.5rem;
	}
	.information {
		margin-top: 5rem;
		max-width: 90ch;
	}
	.container {
		max-width: 90ch;
		margin: 0 auto;
		padding: 6rem 1rem 0 1rem;
	}
	.rounded {
		width: 100%;
		margin: 50px auto;
		text-align: center;
	}
	.rounded img {
		border-radius: 100%;
		margin: 0 auto;
	}
</style>
