---
import BaseLayout from '../layouts/BaseLayout.astro';
import BucketList from '../components/BucketList.vue';
---

<BaseLayout title="RichardMe123 | Impossible List">
  <main class="content-wrapper">
    <div class="container">
      <h1 class="ui-title-1" style="margin:50px 20px 30px 20px;">The Impossible list</h1>
      <main class="list-container">
        <BucketList client:visible />
      </main>
    </div>
  </main>
</BaseLayout>
