---
import Layout from "../layouts/Layout.astro";
import Blogs from "../components/Blogs.tsx";
---

<Layout title="RichardMe123 | Writing">
<div class="container">
	<h1>Writing</h1>
	<p>Here you can find some of the things I have written about. Links will be directed to Dev.To</p>
    <Blogs client:load/>
</div>
</Layout>


<style>
    .container {
		max-width: 90ch;
		margin: 0 auto;
		padding: 6rem 1rem 0 1rem;
	}
</style>