---
function getCurrentYear() {
  return new Date().getFullYear();
}
---

<footer>
    <p>{getCurrentYear()} &copy;  Richard</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/writing">Writing</a></li>
            <li><a href="/tbr">TBR</a></li>
        </ul>
    </nav>
</footer>

<style>
    footer {
        text-align: center;
        margin-top: 2.5rem;
        padding: 2rem;
        background-color: #f8f8f8;
        font-family: "JetBrains Mono", "Lato", sans-serif;

    }
    nav {
        text-align: left;
    }
    p {
        font-size: 1.1rem;
    }
</style>