<nav>
    <a href="/">&lt/back</a>
</nav>

<style>
    nav {
        padding: 1rem;
        background-color: transparent;
    }
    a {
        font-family: "JetBrains Mono", "Lato", sans-serif;
        text-decoration: none;
        color: #333;
    }
</style>
