@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap");
.navbar-link {
  color: gray;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MuseoModerno", cursive;
}
